<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<div xmlns:field="urn:jsptagdir:/WEB-INF/tags/form/fields" xmlns:form="urn:jsptagdir:/WEB-INF/tags/form" xmlns:jsp="http://java.sun.com/JSP/Page" version="2.0">
    <jsp:directive.page contentType="text/html;charset=UTF-8"/>
    <jsp:output omit-xml-declaration="yes"/>
    <form:update id="fu_net_jnd_thesis_domain_AuthRole" modelAttribute="authRole" path="/authroles" versionField="Version" z="IqHyG15RxA3NilQFnshnlmUvEnU=">
        <field:input field="authority" id="c_net_jnd_thesis_domain_AuthRole_authority" max="20" required="true" z="3fpiRQDIqnjh+fJLtFaALHjHGQQ="/>
        <div style="display:none;">
            <field:select field="creationUser" id="c_net_jnd_thesis_domain_AuthRole_creationUser" itemValue="id" items="${authusers}" path="/authusers" z="6IQSLNQtrnE4gD7yKZsAPPFwhKg="/>
            <field:datetime dateTimePattern="${authRole_creationdate_date_format}" field="creationDate" id="c_net_jnd_thesis_domain_AuthRole_creationDate" z="kMLqSwDXjll+OZv4rQ+EL0hKakI="/>
            <field:select field="updateUser" id="c_net_jnd_thesis_domain_AuthRole_updateUser" itemValue="id" items="${authusers}" path="/authusers" z="1vMNQIHUJ80nbCM8cGen7b1v6DQ="/>
            <field:datetime dateTimePattern="${authRole_updatedate_date_format}" field="updateDate" id="c_net_jnd_thesis_domain_AuthRole_updateDate" z="pKTv0yAAROffqQ501Dr0nP/Vkb4="/>
        </div>
    </form:update>
</div>
