<div xmlns:spring="http://www.springframework.org/tags" xmlns:util="urn:jsptagdir:/WEB-INF/tags/util" xmlns:jsp="http://java.sun.com/JSP/Page" version="2.0">
  <jsp:directive.page contentType="text/html;charset=UTF-8" />
  <jsp:output omit-xml-declaration="yes" />
  <spring:message var="app_name" code="application_name" htmlEscape="false" />
  <spring:message var="title" code="welcome_titlepane" arguments="${app_name}" htmlEscape="false" />
  <util:panel id="title" title="${title}">
  
	
	<style type="text/css">
	
	    #console-container {
	        width: 97%;
	    }
	
	    #console {
	        border: 1px solid #CCCCCC;
	        border-right-color: #999999;
	        border-bottom-color: #999999;
	        height: 170px;
	        overflow-y: scroll;
	        padding: 5px;
	        width: 100%;
	    }
	
	    #console p {
	        padding: 0;
	        margin: 0;
	    }
	    
	</style>
	
	<script type="text/javascript">
	
	    var DSWebSocket = {};
	
	    DSWebSocket.socket = null;
	    DSWebSocket.active = false;
	
	    DSWebSocket.connect = (function(host) {
	        if ('WebSocket' in window) {
	            DSWebSocket.socket = new WebSocket(host);
	        } else if ('MozWebSocket' in window) {
	            DSWebSocket.socket = new MozWebSocket(host);
	        } else {
	            DSWebSocketConsole.logLocal('Error: WebSocket is not supported by this browser.');
	            return;
	        }
	
	        DSWebSocket.socket.onopen = function () {
	            DSWebSocketConsole.logLocal('Info: WebSocket connection opened.');
	            DSWebSocket.active = true;
	        };
	
	        DSWebSocket.socket.onclose = function () {
	            DSWebSocketConsole.logLocal('Info: WebSocket closed.');
	            DSWebSocket.active = false;
	        };
	
	        DSWebSocket.socket.onmessage = function (message) {
	            DSWebSocketConsole.logInbound(message.data);
	        };
	        
	    });
	
	    DSWebSocket.initialize = function() {
	        DSWebSocketConsole.logLocal('initializing websocket...');
	        DSWebSocket.connect('ws://' + window.location.host + '/dataSourceSessions/websocket/monitor');
	    }; 
	
	    DSWebSocket.sendMessage = (function(origin) {
	    });
	    
	    var DSWebSocketConsole = {};
	
	    DSWebSocketConsole.log = (function(message) {
	        var console = document.getElementById('console');
	        var p = document.createElement('p');
	        p.style.wordWrap = 'break-word';
	        p.innerHTML = message;
	        console.appendChild(p);
	        console.scrollTop = console.scrollHeight;
	    });
	
	    DSWebSocketConsole.logInbound = (function(message) {
	        DSWebSocketConsole.log('[inbound] ' + message);
	    });
	
	    DSWebSocketConsole.logLocal = (function(message) {
	        DSWebSocketConsole.log('[local] ' + message);
	    });
	
	    DSWebSocketConsole.clear = (function() {
	        document.getElementById('console').innerHTML = '';
	    });
	    
	</script>
	
	<noscript>
	  <h2 style="color: #ff0000">
	    Seems your browser doesn't support Javascript! Websockets rely on Javascript being enabled. Please enable Javascript and reload this page!
	  </h2>
	</noscript>
	<p>
	  <script type="text/javascript">Spring.addDecoration(new Spring.ValidateAllDecoration({elementId:'test', event:'onclick'}));</script>
	  <div class="submit" xmlns:fn="http://java.sun.com/jsp/jstl/functions" xmlns:spring="http://www.springframework.org/tags" version="2.0">
	      <spring:message code="websocket_block_button_label_test" var="test_button_label" htmlEscape="false" />
          <input type="submit" onclick="DSWebSocket.initialize(); return false;" value="Test" id="test" />
	      <spring:message code="websocket_block_button_label_clear" var="clear_button_label" htmlEscape="false" />
	      <input type="submit" onclick="DSWebSocketConsole.clear(); return false;" value="Clear console" id="clearConsole" />
	  </div>
	</p>
	<div id="console-container">
	  <div id="console"></div>
	</div>
    
  </util:panel>
</div>