<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<div xmlns:c="http://java.sun.com/jsp/jstl/core" xmlns:field="urn:jsptagdir:/WEB-INF/tags/form/fields" xmlns:form="urn:jsptagdir:/WEB-INF/tags/form" xmlns:jsp="http://java.sun.com/JSP/Page" xmlns:spring="http://www.springframework.org/tags" version="2.0">
    <jsp:directive.page contentType="text/html;charset=UTF-8"/>
    <jsp:output omit-xml-declaration="yes"/>
    <form:create id="fc_net_jnd_thesis_domain_Session" modelAttribute="session" path="/sessions" render="${empty dependencies}" z="iZnvjyFD2J/5bZ99Tm4xC2gk2j4=">
        <field:textarea field="name" id="c_net_jnd_thesis_domain_Session_name" required="true" z="dsACV3q4Vk8t7pu13R5bhXh3cMg="/>
        <field:select field="allowedUsers" id="c_net_jnd_thesis_domain_Session_allowedUsers" itemValue="id" items="${authusers}" multiple="true" path="/authusers" z="XGbMSjgTQjCmOOlYSuI4NFgXH7Q="/>
        <field:select field="sessionDataSources" id="c_net_jnd_thesis_domain_Session_sessionDataSources" itemValue="id" items="${datasources}" multiple="true" path="/datasources" z="P6xUJu+LSA0VjCxdPK+GWjqp0J4="/>
        <field:checkbox field="clientModelAllowed" id="c_net_jnd_thesis_domain_Session_clientModelAllowed" z="A2HdgAQT/KFlSXhirAgH+LcdvVE="/>
        <field:select field="esperExpression" id="c_net_jnd_thesis_domain_Session_esperExpression" itemValue="id" items="${esperexpressions}" path="/esperexpressions" required="true" z="WVhdHyJrzB7IUQWkH37HuPF0VXI="/>
        <field:select field="interactionModel" id="c_net_jnd_thesis_domain_Session_interactionModel" itemValue="id" items="${interactionmodels}" path="/interactionmodels" required="true" z="JPH5vVAJY+XKIKfLbz5QJbu+9U8="/>
        <field:select field="dynamicReconfigurations" id="c_net_jnd_thesis_domain_Session_dynamicReconfigurations" itemValue="id" items="${dynamicreconfigurations}" multiple="true" path="/dynamicreconfigurations" z="wEBKyGoA2ZKf8b75FJZnR/Ph2wA="/>
        <div style="display:none;">
            <field:select field="creationUser" id="c_net_jnd_thesis_domain_Session_creationUser" itemValue="id" items="${authusers}" path="/authusers" z="MFWjD0keCPr+k4NdiMWxmZpwrOk="/>
            <field:datetime dateTimePattern="${session_creationdate_date_format}" field="creationDate" id="c_net_jnd_thesis_domain_Session_creationDate" z="INoQNqjsp6fpLJXPcils4kl2csQ="/>
            <field:select field="updateUser" id="c_net_jnd_thesis_domain_Session_updateUser" itemValue="id" items="${authusers}" path="/authusers" z="wzPXd3+AmmAe2Acro7J8OQPouCo="/>
            <field:datetime dateTimePattern="${session_updatedate_date_format}" field="updateDate" id="c_net_jnd_thesis_domain_Session_updateDate" z="7obydi686R/li0DhUBizlEIeFEk="/>
            <field:select field="sessionStatus" id="c_net_jnd_thesis_domain_Session_sessionStatus" items="${sessionstatuses}" path="sessionstatuses" required="true" z="GhyWKySdSqD8iW+N2aYzJ0af8CI="/>
            <field:select field="modifiedInteractionModel" id="c_net_jnd_thesis_domain_Session_modifiedInteractionModel" itemValue="id" items="${interactionmodels}" path="/interactionmodels" z="4sDmeagm3dyq+BK9nczmwTBD9LQ="/>
            <field:input field="description" id="c_net_jnd_thesis_domain_Session_description" z="EWoJu8jE31kzbHm8dIPyJ3iqeXI="/>
        </div>
        <field:checkbox field="enableRepository" id="c_net_jnd_thesis_domain_Session_enableRepository" z="LKDSPJAkG/FafQk2V5ytDUlsaD8="/>
        <field:checkbox field="replaying" id="c_net_jnd_thesis_domain_Session_replaying" render="false" z="user-managed"/>
        <field:input field="replayDelay" id="c_net_jnd_thesis_domain_Session_replayDelay" validationMessageCode="field_invalid_integer" z="user-managed"/>
    </form:create>
    <form:dependency dependencies="${dependencies}" id="d_net_jnd_thesis_domain_Session" render="${not empty dependencies}" z="VBwLYBnO4tYi6QZtNEXCR7usKxg="/>
</div>
