<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<div xmlns:jsp="http://java.sun.com/JSP/Page" xmlns:page="urn:jsptagdir:/WEB-INF/tags/form" xmlns:table="urn:jsptagdir:/WEB-INF/tags/form/fields" version="2.0">
    <jsp:directive.page contentType="text/html;charset=UTF-8"/>
    <jsp:output omit-xml-declaration="yes"/>
    <page:list id="pl_net_jnd_thesis_domain_XmppDataSource" items="${xmppdatasources}" path="/xmppdatasources">
        <table:table data="${xmppdatasources}" id="l_net_jnd_thesis_domain_XmppDataSource" path="/xmppdatasources" z="dlybtMhE8g5zkZtzFSfrVMVJ2hU=">
            <table:column id="c_net_jnd_thesis_domain_XmppDataSource_name" property="name" z="LFt852gyr7cdMU4RYTsxDyhB69M="/>
            <table:column id="c_net_jnd_thesis_domain_XmppDataSource_creationUser" property="creationUser" z="gkRb21ymtGqbTzLHotz1higsbx0="/>
            <table:column date="true" dateTimePattern="${xmppDataSource_creationdate_date_format}" id="c_net_jnd_thesis_domain_XmppDataSource_creationDate" property="creationDate" z="lnRlcRc6tHRRPqq187HkUKNiI8U="/>
            <table:column id="c_net_jnd_thesis_domain_XmppDataSource_updateUser" property="updateUser" render="false" z="user-managed"/>
            <table:column date="true" dateTimePattern="${xmppDataSource_updatedate_date_format}" id="c_net_jnd_thesis_domain_XmppDataSource_updateDate" property="updateDate" render="false" z="user-managed"/>
            <table:column id="c_net_jnd_thesis_domain_XmppDataSource_enabled" property="enabled" z="bfOOPmYGX4XfI7hDY72dMdKT5rg="/>
        </table:table>
    </page:list>
</div>
