<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<div xmlns:jsp="http://java.sun.com/JSP/Page" xmlns:page="urn:jsptagdir:/WEB-INF/tags/form" xmlns:table="urn:jsptagdir:/WEB-INF/tags/form/fields" version="2.0">
    <jsp:directive.page contentType="text/html;charset=UTF-8"/>
    <jsp:output omit-xml-declaration="yes"/>
    <page:list id="pl_net_jnd_thesis_domain_DynamicReconfiguration" items="${dynamicreconfigurations}" path="/dynamicreconfigurations" z="user-managed">
        <table:table data="${dynamicreconfigurations}" id="l_net_jnd_thesis_domain_DynamicReconfiguration" path="/dynamicreconfigurations" z="T9cPqfe6ACfNSxbgs1CvPCqPYpE=">
            
            <table:column id="c_net_jnd_thesis_domain_DynamicReconfiguration_creationUser" property="creationUser" render="false" z="user-managed"/>
            <table:column date="true" dateTimePattern="${dynamicReconfiguration_creationdate_date_format}" id="c_net_jnd_thesis_domain_DynamicReconfiguration_creationDate" property="creationDate" render="false" z="user-managed"/>
            <table:column id="c_net_jnd_thesis_domain_DynamicReconfiguration_updateUser" property="updateUser" render="false" z="user-managed"/>
            <table:column date="true" dateTimePattern="${dynamicReconfiguration_updatedate_date_format}" id="c_net_jnd_thesis_domain_DynamicReconfiguration_updateDate" property="updateDate" render="false" z="user-managed"/>
            
            <table:column id="c_net_jnd_thesis_domain_DynamicReconfiguration_description" property="description" z="GmqwWL/YfYhfdGqmqaIPG72QE2Y="/>
            <table:column id="c_net_jnd_thesis_domain_DynamicReconfiguration_sessionConditionEnabled" property="sessionConditionEnabled" z="GmqwWL/YfYhfdGqmqaIPG72QE2Y="/>
            <table:column id="c_net_jnd_thesis_domain_DynamicReconfiguration_sessionCondition" property="sessionCondition" z="GmqwWL/YfYhfdGqmqaIPG72QE2Y="/>
            <table:column id="c_net_jnd_thesis_domain_DynamicReconfiguration_eventNameEnabled" property="eventNameEnabled" z="GmqwWL/YfYhfdGqmqaIPG72QE2Y="/>
            <table:column id="c_net_jnd_thesis_domain_DynamicReconfiguration_eventName" property="eventName" z="GmqwWL/YfYhfdGqmqaIPG72QE2Y="/>
            <table:column id="c_net_jnd_thesis_domain_DynamicReconfiguration_interactionModelEnabled" property="interactionModelEnabled" z="O1QOmBzoCN2fauHr0cSjg/j5RvQ="/>
            <table:column id="c_net_jnd_thesis_domain_DynamicReconfiguration_interactionModel" property="interactionModel"  z="user-managed"/>
            <table:column id="c_net_jnd_thesis_domain_DynamicReconfiguration_esperExpressionEnabled" property="esperExpressionEnabled" z="O1QOmBzoCN2fauHr0cSjg/j5RvQ="/>
            <table:column id="c_net_jnd_thesis_domain_DynamicReconfiguration_esperExpression" property="esperExpression" z="O1QOmBzoCN2fauHr0cSjg/j5RvQ="/>
        </table:table>
    </page:list>
</div>
